# Utilities
pandas
numpy
tqdm
ipywidgets
tabulate
openpyxl

# Statistical
scipy
scikit-learn
statsmodels

# Language modeling
fuzzywuzzy
stanza

# Geoutilities
geopandas
geopy

# Social network analysis
networkx
python-louvain

# Visualization
matplotlib
plotly
nbformat
upsetplot